<!DOCTYPE html>
<html>
  <head>
    <title>MsRecipes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= turbo_frame_tag "modal" %>
  </head>

  <body>
    <main class="flex">
      <%= yield %>
    </main>
  </body>
</html>
